[submodule "classes/comp122/class-material"]
	path = classes/comp122/class-material
	url = git@github.com:COMP122/comp122-s22.git
[submodule "mars-mips"]
	path = mars-mips
	url = https://github.com/COMP122/mars-mips.git
[submodule "classes/comp122/deliverables/30-quiz-digital-logic-MattEngler7"]
	path = classes/comp122/deliverables/30-quiz-digital-logic-MattEngler7
	url = https://github.com/COMP122/30-quiz-digital-logic-MattEngler7
[submodule "classes/comp122/deliverables/31-digital-logic-MattEngler7"]
	path = classes/comp122/deliverables/31-digital-logic-MattEngler7
	url = https://github.com/COMP122/31-digital-logic-MattEngler7
[submodule "classes/comp122/deliverables/42-conversions-MattEngler7"]
	path = classes/comp122/deliverables/42-conversions-MattEngler7
	url = https://github.com/COMP122/42-conversions-MattEngler7
[submodule "01-first-assignment-MattEngler7"]
	path = 01-first-assignment-MattEngler7
	url = git@github.com:COMP122/01-first-assignment-MattEngler7.git
[submodule "31-digital-logic-MattEngler7"]
	path = 31-digital-logic-MattEngler7
	url = git@github.com:COMP122/31-digital-logic-MattEngler7.git
[submodule "30-quiz-digital-logic-MattEngler7"]
	path = 30-quiz-digital-logic-MattEngler7
	url = git@github.com:COMP122/30-quiz-digital-logic-MattEngler7.git
[submodule "42-conversions-MattEngler7"]
	path = 42-conversions-MattEngler7
	url = git@github.com:COMP122/42-conversions-MattEngler7.git
[submodule "40-exam-mips-MattEngler7"]
	path = 40-exam-mips-MattEngler7
	url = git@github.com:COMP122/40-exam-mips-MattEngler7.git
[submodule "24-floating-point-encoding-MattEngler7"]
	path = 24-floating-point-encoding-MattEngler7
	url = git@github.com:COMP122/24-floating-point-encoding-MattEngler7.git
[submodule "41-pythagorean-MattEngler7"]
	path = 41-pythagorean-MattEngler7
	url = git@github.com:COMP122/41-pythagorean-MattEngler7.git
[submodule "20-exam-formats-MattEngler7"]
	path = 20-exam-formats-MattEngler7
	url = git@github.com:COMP122/20-exam-formats-MattEngler7.git
[submodule "25-bitwise-operations-MattEngler7"]
	path = 25-bitwise-operations-MattEngler7
	url = git@github.com:COMP122/25-bitwise-operations-MattEngler7.git
[submodule "23-binary-addition-MattEngler7"]
	path = 23-binary-addition-MattEngler7
	url = git@github.com:COMP122/23-binary-addition-MattEngler7.git
[submodule "03-checksum-MattEngler7"]
	path = 03-checksum-MattEngler7
	url = git@github.com:COMP122/03-checksum-MattEngler7.git
[submodule "10-models-MattEngler7"]
	path = 10-models-MattEngler7
	url = git@github.com:COMP122/10-models-MattEngler7.git
[submodule "21-table-encodings-MattEngler7"]
	path = 21-table-encodings-MattEngler7
	url = git@github.com:COMP122/21-table-encodings-MattEngler7.git
[submodule "02-math-review-MattEngler7"]
	path = 02-math-review-MattEngler7
	url = git@github.com:COMP122/02-math-review-MattEngler7.git
